body {
  counter-reset: section;
}
scroll-container {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 200px;
  height: 100vw;
  overflow-Y: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  transform: rotate(-90deg);
  
}
scroll-page {
  display: block;
  width: 100px;
  height: 200px;
  font-size: 3em;
  background-color: black;
  color: white;
  margin: 20px;
}
a::after {
  counter-increment: section;
}
a::after {
  content: " " counter(section) " ";
}
